<h1>Tweets#index</h1>
<p>Find me in app/views/tweets/index.html.erb</p>
  <%= search_form_for @q, url: search_tweet_tweets_path do |f| %>
    <%# # Search if the name field contains... %>
    <%= f.label :content_cont %>
    <%= f.search_field :content_cont %>
    <%= f.submit %>
  <% end %>


<% if current_user %>
  <%= render "form" %>

  <% @tweets.each do |tweet| %>
    <div class="card my-3">
      <div class="row">
        <div class="col">
          <%= image_tag "#{User.find_by(id: tweet.user_id).image_url}", class: "max-width: 5px" %>
        </div>
        <div class="col">
          <p><%= User.find_by(id: tweet.user_id).username %></p>
        </div>
      </div>
      <%= image_tag "#{tweet.image_url}", class: "card-img-top" %>
      <div class="card-body">
        <p class="card-text"><%= tweet.content %></p>
      </div>

      <div class="row">
        <div class="col">
          <%= link_to "Like - Total:#{tweet.total_likes}", likes_path(tweet.id), method: :post, class:"btn btn-primary" %>
        </div>
        <div class="col">
          <%= link_to "Retweet- Total: #{tweet.total_retweet}", retweets_path(tweet.id), method: :post, class:"btn btn-secondary" %>
        </div>
        <div class="col-8 text-right">
          <%= link_to distance_of_time_in_words(Time.now, tweet.created_at), tweet_path(tweet.id), class: "btn btn-info" %>
        </div>
      </div>

    </div>
  <% end %>

<% else %>
  <% @tweets.each do |tweet| %>
  <div class="card my-3">
    <div class="row">
      <div class="col">
        <%= image_tag "#{User.find_by(id: tweet.user_id).image_url}", class: "max-width: 5px" %>
      </div>
      <div class="col">
        <p><%= User.find_by(id: tweet.user_id).username %></p>
      </div>
    </div>
    <%= image_tag "#{tweet.image_url}", class: "card-img-top" %>
    <div class="card-body">
      <p class="card-text"><%= tweet.content %></p>
    </div>

    <%= link_to distance_of_time_in_words(Time.now, tweet.created_at), tweet_path(tweet.id), class: "btn btn-info text-right" %>

    </div>

  <% end %>
<% end %>


<%= paginate @tweets %>
